.mini-cart {
  position: fixed;
  top: 50%;
  right: 40px;

  background: radial-gradient(55.7% 96.02% at 8.01% -0.01%, #FFBA62 0%, #F78D63 100%);

  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  border-radius: 12px;

  padding: 25px 20px;
  z-index: 1;

  color: #ffffff;
  font-size: 25px;

  display: flex;
  align-items: center;

}

.order-total {
  margin-left: 15px;
}